body {
    background-color: rgb(209, 91, 170);
}

.container-title {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.container-form {
    width: 30vw;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    color: white;
}
h1 {
   text-align: center;
    color: white;
}
label{
    color: white;
}




#resultPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}